{
  "sender": "",
  "site": "",
  "site_name": "",
  "username": "",
  "password": "",
  "username_id": "",
  "password_id": "",
  "expected_element_id": "",
  "email_password": "",
  "alert_subject_prefix": "",
  "screenshots": false,
  "max_check_attempts": 3,
  "run_frequency_sec": 600
}